@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
  width: 0.5em;
  display: none;
  crusor: pointer;
}

div:hover::-webkit-scrollbar {
  display: block;
}

div::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 0.25em;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db;
}

div::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

.ag-theme-material {
  --ag-border: none;
  --ag-foreground-color: #042f2e;
  --ag-background-color: #ffffff;
  --ag-header-foreground-color: #f0fdfa;
  --ag-header-background-color: #0d9488;
  --ag-odd-row-background-color: #f0fdfa;
  --ag-header-column-resize-handle-color: #f8fafc;
  --ag-selected-row-background-color: #ccfbf1;
  --ag-grid-size: 0.5rem;
  --ag-list-item-height: 1rem;

  --ag-font-size: 1rem;
}
